div {
    margin: 200px;
    width: 800px;
    height: 439px;

    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

div.image {
    content:url(https://s.yimg.com/ny/api/res/1.2/R4r64SDbGEs_Twg8Mc3mdA--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en-US/homerun/nbcsports.com/313ddf7985b870e4e10d194372f1b094);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(359deg);
    }
}

p1 {
    color: red;
    font-family: "Arial", sans-serif;
    font-size: 300px;
    font-style: italic;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 2.5s linear;
}

@-webkit-keyframes rightThenLeft {
    0%   {margin-left:0%;}
    50%  {margin-left:50%;}
    100% {margin-left:0%;}
}

th {
	font-family: "Times New Roman", serif;
    font-size: 100px;
}

td {
    font-size: 50px;
}

.birthday-button {
    color: blue;
    font-size: 200px;
    display: none;
}
